<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hackathon.sopra.dao.mapper.UserMapper">
    <cache/>

    <resultMap id="jwtUserMap" type="JwtUser">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="role" property="role"/>
        <result column="email" property="email"/>
    </resultMap>


    <select id="getUserByPassword" resultMap="jwtUserMap">
      select u.id,u.username, r.role as role,u.email
         from public.users u
         inner join public.roles r ON
          r.id = u.role_id
      where convert_from(decrypt(u.password::bytea, 'key_to_encrypt', 'aes'), 'SQL_ASCII') =#{password} LIMIT 1;
    </select>

    <select id="getUserByEmail" resultMap="jwtUserMap">
           select u.id,u.username, r.role as role,u.email
             from public.users u
             inner join public.roles r ON
              r.id = u.role_id
       where  u.email=#{email} LIMIT 1;
    </select>

</mapper>